.card:hover {
  transform: rotateY(180deg);
}
.card {
  transition: transform 600ms ease-in-out;
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
  transition: transform 500ms ease-in-out;
}

.side {
  backface-visibility: hidden;
  border-radius: 5px;
}
